
@{
    ViewBag.Title = "Welcome to CarDeaslership";
}

<div class="container text-center my-5">
    <h1 class="display-4">@ViewBag.Title</h1>
    <hr class="my-4">
</div>

<div class="text-center">
    <img src="/Images/lopo.jpg" alt="CarDealership Logo" style="max-width: 300px; height: auto;" />
</div>
